
<nav>
  <ul>
    {{#if session.isAuthenticated}}
      <li>
        {{#link-to 'protected'}}Protected{{/link-to}}
      </li>
      <li>
        <button {{action 'logout'}}>
          Log out
        </button>
      </li>
    {{else}}
      <li>
        <button {{action 'login'}}>
          Log in with Google
        </button>
      </li>
    {{/if}}
  </ul>
</nav>



<div class='outlet application-outlet'>{{outlet}}</div>
